.bashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bashboard span{
    margin: 2em 0;
    font-weight: 600;
    font-size: 1.2em;
}

.new{
    float: right;
    padding: .5rem;
    color: #fff;
    background: #83bf02;
    margin-bottom: 1.5em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 1.1rem;
    transition: ease-in 0.2s;
}

.new:hover{
    background: #5fd204;
    transform: scale(1.1);
}


table{
    border: 1px solid #333;
    border-collapse: collapse;
    /* esse collapse e pesquise */
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption{
    font-size: 1.5em;
    margin: .5em 0.75em;
}

table tr{
    background: #fff;
    border: 1px solid #ddd;
    padding: .35em;
}
table td,
table th{
    padding: .62em;
    text-align: center;
}

table th{
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: .85em;
}

table td .action{
    border: 0;
    padding: 5px 6px 5px 6px;
    border-radius: 3px;
    align-items: center;
    display: inline-block;
    margin-right: 5px;
}

table td .action svg{
    vertical-align: middle;
}

table td .badge{
    padding: 4px;
    border-radius: 3px;
    color: #fff;
}

.btn-more{
    margin-top: 1rem;
    padding: .5rem .5em;
    height: 30px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #181C2E;

}


@media screen and (max-width: 600px) {
    table{
        border: 0;
    }
    table caption{
        font-size: 1.3em;
    }
    table thead{
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr{
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .65em;
    }
    table td{
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .9em;
        text-align: right;
    }
    table td::before{
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child{
        border-bottom: 0;
    }
    .new{
        font-size: .8em;
    }
}