.newChamado textarea, select{
    width: 340px;
}
.newChamado textarea{
    height: 99px;
    resize: none;
}

input[type='radio']{
    margin: 10px 0;
}
input[type='radio']:not(:first-child){
    margin-left: 15px;
}

.status span{
    margin-left: 8px;
}
.status{
    margin-bottom: 15px;
}

@media screen and (max-width: 375px){
    .newChamado textarea, select{
        width: 280px;
    }
}

@media screen and (max-width: 356px) and (min-width: 300px){
    .newChamado textarea, select{
        width: 240px;
    }
    .status{
        display: flex;
        align-items: center;
    }
    .status span{
        font-size: 13px;
    }
}